<div class="card">
        <div class="card-body">
                <div class="h2">
                    {{ author.get_full_name }}
                </div>
                <div class="h3 text-muted">
                     @{{ author.username }}
                </div>
        </div>

        <ul class="list-group list-group-flush">
                <li class="list-group-item">
                        <div class="h6 text-muted">
                        Подписчиков: {{ author.following.count }} <br />
                        Подписан: {{ author.follower.count }}
                        </div>
                </li>
                <li class="list-group-item">
                        <div class="h6 text-muted">
                            Записей: {{ posts_amount }}
                        </div>
                </li>
                <li class="list-group-item">
                    {% if following %}
                        <a class="btn btn-lg btn-light"
                                href="{% url 'profile_unfollow' author.username %}" role="button">
                                Отписаться
                        </a>
                    {% else %}
                        <a class="btn btn-lg btn-primary"
                                href="{% url 'profile_follow' author.username %}" role="button">
                                Подписаться
                        </a>
                    {% endif %}
                </li>
        </ul>
</div>